html,
body,
#root {
  height: 100%;
  margin: 0;
}
.LTS {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.LTS-title {
  flex: 0 1 32px;
}
.LTS-header {
  flex: 0 1 auto;
}
.LTS-content {
  flex: 1 1 auto;
  overflow-y: auto;
}
.LTS-footer {
  flex: 0 1 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .title-logo {
    animation: App-logo-float infinite ease-in-out 10s;
  }
}

@keyframes App-logo-float {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
